FASTCOPY_LISTEN_ADDR=:8083
FASTCOPY_DATABASE_URL=postgres://fastcopy:change-me@localhost:5433/fastcopy?sslmode=disable
FASTCOPY_REGISTRATION_ENABLED=true
FASTCOPY_MAX_USERS=0
FASTCOPY_ACCESS_TOKEN_TTL=30m
FASTCOPY_REFRESH_TOKEN_TTL=2160h
FASTCOPY_CLIP_TTL=168h
FASTCOPY_IDEMPOTENCY_TTL=720h
FASTCOPY_PUBLIC_BASE_URL=https://zhy.hair/fastcopy
FASTCOPY_APNS_ENABLED=false
FASTCOPY_APNS_KEY_ID=
FASTCOPY_APNS_TEAM_ID=
FASTCOPY_APNS_BUNDLE_ID=hair.zhy.fastcopy.ios
FASTCOPY_APNS_PRIVATE_KEY_PATH=/run/secrets/apns-auth-key.p8
